@mixin block(){
    display: block;
}

@mixin iblock($vertical: top) {
    display: inline-block;
    vertical-align: $vertical;
}

//alias
@mixin visible(){
    @include block();
}

@mixin invisible(){
    display: none;
}

@mixin dim($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

@mixin opacity($opacity: 0.5) {
	filter:         alpha(opacity=($opacity * 100));
	-ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
	-moz-opacity:   $opacity;
	-khtml-opacity: $opacity;
	opacity:        $opacity;
}

@mixin border-radius($radius: 5px) {
	-moz-border-radius:    $radius;
	-webkit-border-radius: $radius;
	border-radius:         $radius;
}

@mixin selection ($color, $background) {
    ::-moz-selection {
        color: $color;
        background: $background;
    }
    ::selection {
        color: $color;
        background: $background;
    }
}

@mixin limiter($width: $full-width){
    margin-left: auto;
    margin-right: auto;
    min-width: $screen-xs;
    max-width: $width;
    width: 100%;
}

@mixin user-select ($action) {
  -webkit-touch-callout: $action;
  -webkit-user-select: $action;
  -khtml-user-select: $action;
  -moz-user-select: $action;
  -ms-user-select: $action;
  user-select: $action;
}