@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}

@mixin translateY ($y) {
	@include transform(translateY($y));
}

@mixin translateX ($x) {
	@include transform(translateX($x));
}

@mixin transform-origin ($origin: 0, $to: 0) {
    	-webkit-transform-origin: $origin $to;
    	-moz-transform-origin: $origin $to;
	-ms-transform-origin: $origin $to;
	transform-origin: $origin $to;
}

@mixin scale($scale) {
	@include transform(scale($scale));
}

@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

@mixin skew ($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}